* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    top: 47px;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.responsive {
    width: 100%;
    height: auto;
    left: 0px;
    top: 47px;
}
p {
  font-size: 0.938em;
  color: #2F4858;
  font-family: 'Montserrat', sans-serif;
  line-height: 19px;
  
}
.title {
  width: 100%;
  display: block;
  text-align: center;
  padding: 150px 0 359px ;
}
.title * {
  display: inline-block;
  width: 100%;
}
.title p {
  color: black;
  line-height: 21.94px;
  font-size: 18px;
  word-spacing: 3px;
  margin: 0;
  font-style: normal;
}
.title-dream{
  width: 50%;
  display: block;
  text-align: center;
  padding: 150px 0 359px;
}
.title-dream-1 {
  width: 50%;
  display: block;
  text-align: center;
  padding: 50px 0 9px;

}
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    width: 90%;
    max-width: 600px;
    
    
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}
input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(196, 196, 196, 0.4);;
    color: black;
    background: transparent;
    font-size: 15px;
    border-radius: 6px;
    background: rgba(196, 196, 196, 0.4);
}
label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color:rgba(47, 72, 88, 1);
    cursor: text;
    transition: 0.2s;
}
button{
    padding: 10px 0;
    color: rgba(255, 255, 255, 1);
    outline: none;
    background: orange;
    border: 1px solid orange;
    width: 25%;
    cursor: pointer;
}
input:focus~label, 
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
    
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .input-group{
    flex-basis: 48%;
}
.smallTitle {
  width: 100%;
  display: block;
  padding: 0 0 20px 0;
}
.smallTitle h2 {
  margin: 0;
  font-size: 1.063em;
}

.row-small {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 0;
  max-width: 75em;
  *zoom: 1; }
.team-members {
	margin-top: 100px;
}

.team-member {
	border: 1px solid #eee;
	margin-bottom: 30px;
}

.team-member img {
	width: 100%;
	overflow: hidden;
}
footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: rgba(47, 72, 88, 1);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}



/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.atb {
    background: rgba(255, 203, 102, 1);

}
